.sortable-tree {
  width: 90vw;
  overflow: hidden !important;
  padding: 0;
  margin: 0;
}

.rst__lineBlock,
.rst_lineHalfHorizonRight,
.rst_lineHalfVerticalBottom,
.rst_lineHalfVerticalTop,
.rst__absoluteLineBlock {
  display: none !important;
}

.sortable-tree-margin {
  margin-left: -3em !important;
}

/* body .rst_nodeContent,
.rst_rowWrapper,
.rst_row,
.rst_moveHandle {
  margin-left: -3em !important;
} */

/* body .rst_nodeContent,
.rst_rowWrapper,
.rst_row {
  margin-left: -3em !important;
} */

.rst_rowContents {
  width: 2em !important;
}
