/* @include media-breakpoint-up(sm) {
  ;
}
@include media-breakpoint-up(md) {
  ...;
}
@include media-breakpoint-up(lg) {
  ...;
}
@include media-breakpoint-up(xl) {
  ...;
} */

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.25em 0 0 0;
  min-height: 5em;
  border-radius: 0%;
  font-family: "Catamaran", sans-serif;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30%; /* ??? */
  outline-color: #252525;
}

select {
  text-align-last: center;
}

input {
  text-align: center;
  /* background:  */
}
