/* @include media-breakpoint-up(sm) {
  ;
}
@include media-breakpoint-up(md) {
  ...;
}
@include media-breakpoint-up(lg) {
  ...;
}
@include media-breakpoint-up(xl) {
  ...;
} */

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.25em 0 0 0;
  min-height: 5em;
}
