/* @include media-breakpoint-up(sm) {
  ;
}
@include media-breakpoint-up(md) {
  ...;
}
@include media-breakpoint-up(lg) {
  ...;
}
@include media-breakpoint-up(xl) {
  ...;
} */

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.25em 0 0 0;
  font-family: "Catamaran", sans-serif;
  /* background-color: #aaaaaa; */
}

.group-margin {
  margin: 0.5em;
}

.label-pad {
  padding-right: 1em;
}

.table-filters {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* consolidate these two ^^vv */

.column-filters {
  display: flex;
  flex-direction: column;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-grouping {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: stretch;
  margin-right: -1px;
  width: 100%;
}

.order-columns-button {
  background-color: #353a3f;
  color: #ffffff;
}

.filter-columns-button {
  background-color: #04235d;
  color: #ffffff;
}

.remove-button {
  background-color: #aa2a24;
  color: #ffffff;
}

.go-button {
  background-color: #ed8236;
  color: #ffffff;
}

.sortable-tree {
  width: 90vw;
  overflow: hidden !important;
  padding: 0;
  margin: 0;
}

/* label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* outline-color: #252525; */

select:focus {
  outline-color: #fef050 !important;
}
