/* Phone and Tablets / all -------- */
.data-container {
  margin-top: 2em;
  width: 95vw;
}

/* Desktops and laptops ---1224-------- */
@media only screen and (min-width: 1000px) {
  .data-container {
    margin-top: 6em;
    width: 70vw;
  }

  .spinner {
    margin-top: 25vh;
  }
}
